<!--================================partie a revoir selectionner un element dans le input et lui attribuer une valeur -->
<!--<h1>bienvenus dans notre application {{pokemonList[2].name}}</h1>-->
<!--<p>c'est un paragraphe</p>-->
<!--<p *ngFor="let pokemon of pokemonList">-->
<!--  {{pokemon.name}}-->

<!--</p>-->

<!--==============================================================================================-->


<!--<input type="number" #input (keyup.enter)="selectPokemon(input.value)" >-->
<!--<p>{{pokemonSlected?.name}}</p>-->


<h1 class='center'>Pokémons</h1>
<div class='container'>
  <div class="row">
    <div *ngFor='let pokemon of pokemonList' class="col s6 m4">
      <div class="card horizontal" (click)="selectPokemon(input.value)">
        <div class="card-image">
          <img [src]="pokemon.picture">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <p><small>{{ pokemon.created }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
